AUTH_SECRET=your_auth_secret
AI_GATEWAY_API_KEY=your_ai_gateway_api_key
BLOB_READ_WRITE_TOKEN=your_blob_read_write_token
BACKEND_URL=https://your-backend.onrender.com



DB_CHAT_HOST=your_chat_database_host
DB_SQL_HOST=your_postgresql_connection_string
OPENSEARCH_HOST=your_opensearch_endpoint
FIRECRAWL_API_KEY=your_firecrawl_api_key
DASHSCOPE_API_KEY=...

DASHSCOPE_BASE_URL=....

REDIS_KEY=.......