AI_GATEWAY_API_KEY=
AI_GATEWAY_BASE_URL=https://ai-gateway.vercel.sh/v1

DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
DASHSCOPE_RERANK_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1/reranks

OPENSEARCH_HOST=
DATABASE_URL=
AI_GATEWAY_URL=https://ai-gateway.vercel.sh